<div id="header-wrapper">

   <div id="header">
      <!-- same header as index without the banner-->
     <div id ="nav-wrapper">
       <nav id="nav">
         <!-- Nav -->
             <ul>
                 <li><a href = "/blog/index.html">Home</a></li>
                 <li ><a href="/blog/index.html#about">About</a><li>
                 <li ><a href="/blog/index.html#work">Work</a> </li>
                 <li ><a href="/blog/index.html#contact">Contact</a></li>
             </ul>

       </nav>
     </div>

     </div>
 </div>
